:root {
  --white-color: #fff;
}

.App {
  text-align: center;
  font: 'Century Gothic', sans-serif;                        /*** Letra ***/
}

/****************************** HEADER ******************************/
.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2.5vmin;
  color: var(--white-color);
  background: url("/public/banner.jpg") no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;                 
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}
.App-header-content {

}
.App-slogan {
  position: absolute;
  left: 5vw;
  top: -0.5vw;
}
.App-logo {
  height: 3vw;
}
.App-tittle {
  margin-left: 1vw;
}
.tiempo {
  top: -1.1vw;
}
#tablero {
  position: absolute;
  right: 5vw;
  top: 0vw;
}
.vidas {
  width: 3.5vw;
  height: 3vw;
}

/******************************* BODY *******************************/
.App-body {
  background-color: #282c34;
  min-height: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3vmin;
  color: var(--white-color);
  background: url("/public/fondo.jpg") no-repeat;
  background-size: cover;
}
.App-body-content {
  display: inline-flex;
  width: 20%;
}

.App-link {
  color: #61dafb;
}
.instructions {
}

#dog {
  height: 6.25vw;
  pointer-events: none;
  position: absolute;
  user-select: none;                    /* Impide seleccionar la imagen con el mouse*/
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  margin-left: auto;
  margin-right: auto;
}
#gusano {
  height: 5.5vw;
  pointer-events: none;
  position: absolute;
  user-select: none;                    /* Impide seleccionar la imagen con el mouse*/
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  margin-left: auto;
  margin-right: auto;
}

.App-fruta {
  height: 3.5vw;
  pointer-events: none;
  position: absolute;
  user-select: none;                    /* Impide seleccionar la imagen con el mouse*/
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  z-index: 1;
}
@keyframes image-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
@media (prefers-reduced-motion: no-preference) {
  .App-fruta { animation: image-spin infinite 20s linear; }
}

.App-bloque {
  pointer-events: none;
  position: absolute;
  height: 6.25vw;
}
.App-bloquesH {
  pointer-events: none;
  position: absolute;
  height: 3.8vw;
}
.App-bloquesV {
  pointer-events: none;
  position: absolute;
  height: 23.6vw;
}
#bloquesVright1 {
  margin-top: -0.3vw;
  margin-left: 31.5vw;
}
#bloquesVright2 {
  margin-top: 23.25vw;
  margin-left: 31.5vw;
}
#bloquesVleft1 {
  margin-top: -0.3vw;
  margin-left: -38vw;
}
#bloquesVleft2 {
  margin-top: 23.25vw;
  margin-left: -38vw;
}
#bloquesHup1 {
  margin-top: -3.9vw;
  margin-left: 0vw;
}
#bloquesHup2 {
  margin-top: -3.9vw;
  margin-left: -38vw;
}
#bloquesHdown1 {
  margin-top: 46.8vw;
  margin-left: 0vw;
}
#bloquesHdown2 {
  margin-top: 46.8vw;
  margin-left: -38vw;
}



.App-cajamadera {
  pointer-events: none;
  /* position: absolute; */
  width: 20vw;
  height: 10vw;
  /* margin-top: 320px;
  margin-left: 500px; */
}

#cuadrilatero {
  position: absolute;
  top: 10vw;
}
#resultados {                       /*Tiempo, frutas restantes */
  position: absolute;
  top: 5vw;
  right: 0;
}

#flechas {                          /*Botones de flechas */
  /* position: absolute;
  margin-top: 0px;
  margin-left: 500px; */
}
.botonFlechas {
  padding: 1.25vw 2vw 1.25vw 2vw;
  font-size: 3vw;
  background-color: #500;
  color:#ccc
}
.botonStart {
  padding: 1.25vw 1.25vw 1.25vw 1.25vw;
  font-size: 3vw;
  background-color: #500;
  color:#ccc
}

.botonReset {
  color: var(--white-color);
  background-color: #500;
  padding: 1.25vw 0 1.25vw 0;
  font-size: 3vmin;
  width: 6.25vw;
  cursor: pointer;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 1));
}

input[type=text]{
  color: #500;
  background-color: #ddd;
  padding: 0.65vw 0 0.65vw 0;
  border-radius: 25px;
  text-align: center;
  font-size: 3vmin;
  width: 15vw;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 1));
}
input[type=text]::placeholder{
  color: #999;
}

#obstaculo {
  width: 6.25vw;
  height: 6.25vw;
  border: 1px solid var(--white-color);;
  /* position: absolute; */
}









/*****************************************************************************************/
/***************************************** MOVIL *****************************************/
@media (orientation: landscape) {

}
@media (orientation: portrait) {

}
/******************************** TABLETS ********************************/
@media screen and (max-width: 1200px) {

}

/******************************** CELL PHONES  ********************************/
@media screen and (max-width: 640px) {
  /******************************** Header ********************************/
  .App-header {
    min-height: 6vh;
  }
  /********************************* Body *********************************/

}

