:root {
  --white-color: #fff;
  --button-color: #ccc;
}

.App {
  text-align: center;
  font: 'Century Gothic', sans-serif;                        /*** Letra ***/
}

/****************************** HEADER ******************************/
.App-header {
  position: absolute;
  background: url("/public/banner.jpg") no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--white-color);
  min-height: 8vh;
  height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2.5vmin; 
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
  width: 100%; 
}
.App-header-content {

}
.App-slogan {
  position: absolute;
  left: 5vw;
  top: -1.5vh;
}
.App-logo {
  height: 3vw;
  user-select: none; 
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.App-tittle {
  margin-left: 1vw;
  user-select: none; 
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.tiempo {
  top: -1.5vh;
  user-select: none; 
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.tablaTablero {
  position: absolute;
  right: 5vw;
  top: -1.5vh;
  user-select: none; 
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.vidas {
  width: 3.5vw;
  height: 3vw;
}

/******************************* BODY *******************************/
.App-body {
  background-color: #282c34;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2vmin;
  color: var(--white-color);
  background: url("/public/fondo.jpg") no-repeat;
  background-size: cover;
}
.App-body-content {
  display: flex;
  width: 100vw;
}

.App-link {
  color: #500;
}
.instructions {                        /* Instrucciones de la alerta de bienvenida*/
  font-size: inherit;
}

/*********** Cuadrilatero ***********/
ol {
  /* display: block;
  list-style-type: decimal; */
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}
#cuadrilatero {
  position: absolute;
  height: 90vh;
  width: 98.5vw;
  top: 9vh;
  left: 0vw;
  border: 1px solid #fff;
  padding: 0;
}
.cuadrilateroHorizontales {             /* Aplica a Cuadrilatero Up y Down*/
  pointer-events: none;
  position: absolute;
  display: flex;
  top: 0vh;
  /* width: 100vw; */
  user-select: none;                    /* Impide seleccionar la imagen con el mouse*/
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
#cuadrilateroUp {                       /* Aplica al borde superior del cuadrilatero */
  /* top: 0vh;
  left: 0vw; */
}
#cuadrilateroDown {                     /* Aplica al borde inferior del cuadrilatero */
  top: 85vh;
  /* left: 0vw; */
}
.cuadrilateroVerticales {               /* Aplica a Cuadrilatero Left y Rigth*/                  
  position: absolute;
  display: block;
  top: 0vh;
  width: 3vw;
  line-height: 0;
  user-select: none;                    /* Impide seleccionar la imagen con el mouse*/
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  z-index: 1;
}
#cuadrilateroLeft {
  /* top: 0vh; */
  left:0vw;
}
#cuadrilateroRight {
  /* top: 0vh; */
  left:95.5vw; 
}
.cuadrilateroBloque {
  pointer-events: none;
  position: relative;
  /* width:5vw; */                      /* Se configura en el componente Cuadrilatero */
  /* height: 5vw; */
  user-select: none;                    /* Impide seleccionar la imagen con el mouse*/
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/*********** Figuras ***********/
#dog {
  height: 7vh;
  pointer-events: none;
  position: absolute;
  user-select: none;                    /* Impide seleccionar la imagen con el mouse*/
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}
#gusano {
  height: 7vh;
  pointer-events: none;
  position: absolute;
  user-select: none;                    /* Impide seleccionar la imagen con el mouse*/
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}
.fruta {
  height: 5vh;
  pointer-events: none;
  position: absolute;
  user-select: none;                    /* Impide seleccionar la imagen con el mouse*/
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  z-index: 1;
}
/* @keyframes image-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
@media (prefers-reduced-motion: no-preference) {
  .fruta { animation: image-spin infinite 20s linear; }
} */
.obstaculo {
  pointer-events: none;
  position: absolute;
  width: 6vh;
  /* height: 6vh; */
  user-select: none;                    /* Impide seleccionar la imagen con el mouse*/
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}


/*********** Controles ***********/
#controles {                            /*Tiempo, frutas restantes */
  position: absolute;
  top: 60vh;
  /* right: 0; */
  left: 60vw;
}
.tablaFlechas {                          /*Botones de flechas */
  position: absolute;
  font-size: 5vh;
  background-color: rgb(85, 0, 0, 0.2);
  border: 1px solid rgb(255, 255, 255, 0.4);
  box-shadow: 2px 2px 2px rgb(255, 255, 255, 0.2);
  border-radius: 30vw;
  /* left: -20vw; */
  z-index: 1;
}
.botonStart {
  padding: 1.25vh 1.25vh 1.25vh 1.25vh;
  font-size: inherit;
  background-color: rgb(85, 0, 0, 0.2);
  color:var(--button-color);
  cursor: pointer;
  border-radius: 10vh;
}
.botonFlechas {
  padding: 1vh 2.5vh 1vh 2.5vh;
  font-size: inherit;
  border: none;
  background-color: transparent;
  color:var(--button-color);
  cursor: pointer;
}
.botonReset {
  color:var(--button-color);
  background-color: rgb(85, 0, 0, 0.2);
  padding: 1.25vh 0 1.25vh 0;
  font-size: 5vh;
  width: 6.25vw;
  cursor: pointer;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 1));
  border-radius: 3vh;
}

input[type=text]{
  color: #500;
  background-color: #ddd;
  padding: 0.65vw 0 0.65vw 0;
  border-radius: 25px;
  text-align: center;
  font-size: inherit;
  width: 20vw;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 1));
}
input[type=text]::placeholder{
  color: #999;
}










/*****************************************************************************************/
/***************************************** MOVIL *****************************************/
@media (orientation: landscape) {

}
@media (orientation: portrait) {

}
/******************************** TABLETS ********************************/
@media screen and (max-width: 1200px) {

}

/******************************** CELL PHONES  ********************************/
@media screen and (max-width: 640px) {
  /******************************** Header ********************************/
  .App-header {
    height: 6vh;
  }
  /********************************* Body *********************************/

}

